{% load rounded_timesince %} {% for message in latest %}
<div class="latest-card">
	{% if request.user == message.user %}
	<a href="{% url 'delete-message' message.id %}">Delete message</a>
	{% endif %}
	<p>
		<small>
			<a href="{% url 'user-profile' message.user.id %}">
				@{{message.user}}</a
			></small
		>
	</p>
	<small>
		<i> {{message.created|rounded_timesince}}</i>
	</small>
	<p>
		replied to
		<a href="{% url 'room' message.room.id %}">{{message.room}}</a>
	</p>
	{% if message.body|length < 50 %}
	<p>{{message.body}}</p>
	{% else %}
	<p>{{message.body|slice:":50"}}...</p>
	{% endif %}
</div>
{% endfor %}
