{% extends "main.html" %} {% load rounded_timesince %}{% block content %}

<div class="room-container">
	<div>
		<div>
			<h3>{{room.name}}</h3>
			<p>
				<small>
					<a href="{% url 'user-profile' room.host.id %}">
						@{{room.host}}</a
					></small
				>
			</p>
			<p>{{room.topic}}</p>
			<p>{{room.created}}</p>
			<p>{{room.desc}}</p>
		</div>
		<hr />
		{% for chat in chats %}
		<div>
			{% if request.user == chat.user %}
			<a href="{% url 'delete-message' chat.id %}">Delete message</a>
			{% endif %}
			<p>
				<small>
					<a href="{% url 'user-profile' chat.user.id %}">
						@{{chat.user}}</a
					></small
				>
				<i>{{chat.updated|rounded_timesince}}</i>
			</p>

			<p>{{chat.body}}</p>
		</div>
		{% endfor %} {% if request.user.is_authenticated %}
		<div class="comment-form">
			<form
				action=""
				method="POST">
				{% csrf_token %}
				<input
					type="text"
					name="body"
					placeholder="Write your message here..." />
			</form>
		</div>
	</div>
	<div class="left-border">
		<h3>Participants</h3>
		<ul>
			{% for person in participants %}
			<li>
				<a href="{% url 'user-profile' person.id %}">
					@{{person.username}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %} {% endblock content %}
