{% extends "main.html" %} {% block content %}
<h3>All Topics: {{room_count}} rooms available</h3>

<div class="topics-page-container">
	<div>
		<ul>
			{% for topic in topics %}
			<li>
				<a href="{% url 'home' %}?q={{topic.name}}"
					>{{topic.name}} ({{topic.room_set.all.count}})</a
				>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div>
		<h3>Recent Activity</h3>
		{% include "base/activity-component.html" %}

		<!-- context = {"rooms": rooms, "topics": topics, "room_count": room_count} -->
	</div>
</div>
{% endblock content %}
