body {
	/* background-color: #fce3e3; */
	/* background-color: #f0bcbe; */
	/* background-color: #fcede8; */
	background-color: #fbf4ed;
}

.grid-nav {
	display: grid;
	justify-self: space-around;
	align-items: center;
	grid-template-columns: repeat(4, 1fr); /* corrected syntax */
	padding: 1rem;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.home-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.topics-page-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.latest-card {
	border: black 0.1rem solid;
	margin: 1rem;
	padding: 1rem;
}

.room-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.left-border {
	border-left: 0.25rem black solid;
}
